<mat-card class="card wide">
  <mat-card-header>
    <mat-card-title>{{ chunk.type }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group animationDuration="10ms">
      <mat-tab label="Overview">
        <mat-list role="list">
          <mat-list-item role="listitem">Length: {{ chunk.length }}</mat-list-item>
          <mat-list-item role="listitem">CRC: {{ chunk.CRC }}</mat-list-item>
          <mat-list-item role="listitem">Public: {{ chunk.isPublic }}</mat-list-item>
          <mat-list-item role="listitem">Reserved: {{ chunk.isReserved }}</mat-list-item>
          <mat-list-item role="listitem">Unsafe To Copy: {{ chunk.isUnsafeToCopy }}</mat-list-item>
          <mat-list-item role="listitem">Critical: {{ chunk.isCritical }}</mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Properties" *ngIf="chunk.type !== 'IEND' && chunk.properties">
        <div [ngSwitch]="chunk.type">
          <ng-container *ngSwitchCase="'PLTE'">
            <div class="palette-container" [style.display]="isHorizontal ? 'grid' : 'flex'">
              <div *ngFor="let color of palette" 
                  [style.background-color]="'rgb(' + color.red + ',' + color.green + ',' + color.blue + ')'"
                  class="color-block">
                <p *ngIf="isHorizontal" [style.color]="!isWhite(color) ? 'white' : 'black'">
                  {{ displayRGB(color) }}
                </p>
              </div>
            </div>
            <button mat-button style="float: right;" (click)="toggleVerticalHorizontal()">
              Toggle view
            </button>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <mat-list role="list"> 
              <mat-list-item *ngFor="let property of formatMapToList(chunk.properties)" role="listitem">
                {{ property[0] }}: {{ property[1] }}
              </mat-list-item>
            </mat-list>
          </ng-container>
        </div>
      </mat-tab>
      <mat-tab label="Raw bytes" *ngIf="chunk.type !== 'IEND'">
        <code>{{ chunk.rawBytes?.join(' ') }}</code>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>