.card {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
}
.wide {
  width: 70%;
}
.color-block {
  width: 90%;
  height: 40px;
  display: inline-block;
  margin: auto;
}
.palette-container {
  margin: 2rem 0;
  display: flex; /* grid for horizontal or flex for vertical */
}
